body {
  font-family: "Roboto Mono", monospace;
  background-color: #e3d6e7;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #e3d6e7;
}

.header {
  padding: 10px 20px;
}

.logo-alura {
  padding: 20px 10px;
}

.buttons-start,
.word-add {
  max-width: 300px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

label {
  font-size: 1.7rem;
  display: block;
  margin-bottom: 5px;
  color: #444444;
}

input {
  font-size: 1.3rem;
  padding: 10px 15px;
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #b09eb7;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
  color: #444444;
}

input:focus {
  border: 2px solid #573e61;
}

.forca {
  max-width: 800px;
  height: 700px;
  margin: 0 auto;
  padding: 20px;
}

.forca-forca-div {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: #444444;
}

.forca-tip-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.forca-tip {
  opacity: 0;
}

.show {
  opacity: 1;
}

.forca-forca {
  height: 300px;
  display: flex;
  justify-content: center;
  grid-column: 2;
  grid-row: 1/-1;
}

.svg-forca {
  stroke: #b09eb7;
  stroke-linecap: round;
}

.hide-boneco {
  display: none;
}

.feedback {
  align-self: center;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.winner,
.loser,
.feedback-key {
  background-color: #95c79f;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.loser,
.feedback-key {
  background-color: #c79595;
}

.show-result {
  display: block;
  animation: showResult 0.5s forwards;
}

.hide-result {
  animation: hideResult 0.5s forwards;
}

@keyframes showResult {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes hideResult {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
}

.forca-word {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.word-placeholder {
  font-size: 2rem;
  position: relative;
  color: #444444;
  margin-top: 20px;
}

.word-placeholder::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  top: 40px;
  left: -15px;
  background-color: #b09eb7;
  border-radius: 5px;
}

.forca-keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #b09eb7;
  padding: 20px;
  max-width: 520px;
  border-radius: 5px;
  margin: 50px auto 30px auto;
}

.keyboard-row {
  margin: 0 auto;
}

.key {
  font-size: 1.2rem;
  color: #444444;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.295),
    -2px -2px 1px rgba(255, 255, 255, 0.295);
}

.key:active {
  background: #b09eb7;
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.295),
    inset -2px -2px 1px rgba(255, 255, 255, 0.295);
}

.buttons-forca {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.button1,
.button2,
.button3 {
  background-color: #b09eb7;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  color: #444444;
}

.button2 {
  background-color: #444444;
  color: white;
}

.button3 {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #444444;
  color: white;
}

.button1:hover {
  background-color: #705979;
}

.button2:hover,
.button3:hover {
  background-color: #202020;
}

.hide,
.hidden-word {
  display: none;
}

.key-correct {
  background-color: #95c79f;
}

.key-wrong {
  opacity: 0.2;
  cursor: auto;
}

@media (max-width: 800px) {
  .forca-word {
    gap: 30px;
  }
  .word-placeholder {
    font-size: 1.5rem;
  }
  .word-placeholder::after {
    width: 30px;
    top: 30px;
    left: -10px;
  }
}

@media (max-width: 600px) {
  .forca-word {
    gap: 15px;
  }
  .forca {
    padding: 0;
  }
  .forca-tip-div {
    margin-top: 0;
  }
  .word-placeholder {
    font-size: 1.2rem;
  }
  .word-placeholder::after {
    width: 20px;
    top: 30px;
    left: -5px;
  }
  .forca-keyboard {
    padding: 10px;
    gap: 10px;
  }
  .key {
    font-size: 1rem;
    padding: 7.5px;
  }
  .button1,
  .button2 {
    padding: 10px 15px;
    font-size: 1rem;
  }
  label {
    font-size: 1rem;
  }
  input {
    font-size: 1rem;
  }
  .forca-forca-div {
    display: block;
  }
  .feedback {
    font-size: 1rem;
    width: 200px;
  }
  .winner,
  .loser,
  .feedback-key {
    padding: 10px;
  }
}
